[user]
	name = ChangeName
	email = changeEmail@gmail.com
[core]
	editor = code --wait
	whitespace = -trailing-space
[init]
	defaultBranch = main
[alias]
	a  = add
	c  = commit
	ca = commit --amend
	st = status
	br = branch
[status]
  submoduleSummary = true
  showUntrackedFiles = all