# == Browsers ==
googlechrome
#firefox
#brave
#microsoft-edge
#chromium
#vivaldi
#opera
#tor-browser

# == Compression && Archiving ==
7zip
#winrar
#peazip

# == Communication ==
discord
#slack
#skype
#whatsapp

# == Media ==
vlc
spotify
#foobar2000

# == Runtimes ==
jre8

# == Imaging ==
irfanview

# == Documents && Notes ==
adobereader
#foxitreader
notion

# == Utilities ==
teracopy
treesizefree
rufus
cpu-z
powertoys
autoruns

# == Gaming ==
steam-client

# == Drivers ==
geforce-experience

# == Password Managers ==
bitwarden
#keepass

# == Development ==
# = Editors =
vscode
#sublimetext4
#notepadplusplus
#neovim
# = IDEs =
intellijidea-community
arduino
# = Networking =
winscp