# == Browsers ==
googlechrome
firefox
#brave
#microsoft-edge
#chromium
#vivaldi
#opera
#tor-browser

# == Compression && Archiving ==
7zip
#winrar
#peazip

# == Communication ==
discord
#slack
#skype
#whatsapp

# == Media ==
vlc
spotify
#foobar2000

# == Runtimes ==
jre8

# == Imaging ==
irfanview

# == Documents && Notes ==
adobereader
notion
todoist
#foxitreader

# == Utilities ==
treesizefree
rufus
cpu-z
powertoys
rainmeter
everything
#teracopy
#autoruns

# == Gaming ==
steam
epicgameslauncher
leagueoflegendseuw

# == Drivers ==
geforce-experience

# == Password Managers ==
bitwarden
#keepass

# == Development ==
# = Editors =
vscode
#sublimetext4
#notepadplusplus
#neovim
# = IDEs =
intellijidea-community
arduino
# = Networking =
openvpn
#winscp
# = Compilers/Interpreters =
python
strawberryperl
# = Source control =
git
# = LaTeX =
miktex
# = DB =
dbeaver
# = Virtualization =
virtualbox
docker-desktop